
#excel-list,#excel-list-result{
    height: 50vh;
}

#excel-list{
    width: 200px;
}

#excel-list-result{
    width: 100%;
}

#main{
    display: flex;
    flex-direction: row;
}

.section{
    width: 100%;
}